@{
    ViewData["Title"] = "Клиенты";
}
<!DOCTYPE html>

<html>
<body>
    <div class="form-group">
        <label><h1>Выберите действие</h1></label>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-outline-dark">Просмотреть клиентскую базу</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-outline-dark">Внести данные о новом клиенте</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-outline-dark">Изменить данные о существующем клиенте</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-outline-dark">Удалить существующего клиента</button>
    </div>
</body>
</html>
