@{
    ViewData["Title"] = "Главная";
}

<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Документация</h5>
            </div>
            <div class="row">
                <p>
                    Веб-приложение для управления услугами гостиницы. На каждой странице
                    содержится своя маленькая документация. На главной странице представленна статистика,
                    описывающая состояние гостиницы.
                </p>
            </div>
        </div>
    <div class="row">
            
    </div>
    </div>
</body>
