@{
    ViewData["Title"] = "Клиенты";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="jquery.maskedinput.min.js"></script>
<body>

    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Клиенты</h5>
            </div>
            <div class="row">
                <p>
                    Клиентов можно добавить, удалить и редактировать. Чтобы найти клиента
                    можете воспользоваться поиском по фильтру. Каждой брони соответствует один клиент.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron">
                    <div id="clients">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="jumbotron" style="background-color: #F0E68C">
                    <div class="text-center">
                        <h5>Поиск</h5>
                    </div>
                    <br />
                    <div class="text-center">
                        <input type="text" class="form-control" id="serial" placeholder="Паспортные данные">
                        <span class="badge badge-danger" id="validate_search">Неверный формат</span>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-primary" onclick="ValidateSearch()">Найти &#128270;</button>
                    </div>                   
                    <br />
                    <div class="text-center">
                        <button class="btn btn-danger" onclick="GetStartView()">Сбросить &#128259;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CreateModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="text-center">
                        <h5><strong>Создать клиента &#9989;</strong></h5>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <strong>Имя</strong>
                    <input type="text" class="form-control" id="ClientFirstName">
                    <span class="badge badge-danger" id="validate_createFirstName">Данное поле не может быть пустым</span>
                    <strong>Фамилия</strong>
                    <input type="text" class="form-control" id="ClientSecondName">
                    <div class="text-center">
                        <span class="badge badge-danger" id="validate_createSecondName">Данное поле не может быть пустым</span>
                    </div>
                    <strong>Дата рождения</strong>
                    <input type="date" class="form-control" id="ClientDate">
                    <div class="text-center">
                        <span class="badge badge-danger" id="validate_createDate">Данное поле не может быть пустым</span>
                    </div>
                    <strong>Пол</strong>
                    <div class="btn-group btn-block btn-group-lg justify-content-center">
                        <button type="button" class="btn btn-outline-success" id="Male" onclick="Male()">&#129333;</button>
                        <button type="button" class="btn btn-outline-success"id="Female" onclick="Female()">&#129335;</button>
                    </div>
                    <div class="text-center">
                        <span class="badge badge-danger" id="validate_createSex">Выберите пол</span>
                    </div>
                    <strong>Паспортные данные</strong>
                    <input type="text" class="form-control" id="ClientSerial">
                    <span class="badge badge-danger" id="validate_createSerial">Неверный формат ввода</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="edit" onclick="ValidateCreate()">Создать</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CreateClear()">Отмена</button>
                </div>
            </div>
        </div>
    </div> 
    <script>
        window.onload = UpdateClients();

        var sex = -1;

        function Male() {
            sex = 1;
            document.getElementById("Male").className = "btn btn-outline-success active";
            document.getElementById("Female").className = "btn btn-outline-success";
        }

        function Female() {
            sex = 0;
            document.getElementById("Female").className = "btn btn-outline-success active";
            document.getElementById("Male").className = "btn btn-outline-success";
        }

        function UpdateClients() {
            var ClientIP = "../Client/LoadPage?page=1";
            $('#clients').load(ClientIP);
        }

        function ShowCreate() {
            CreateHide();
            $('#CreateModal').modal('show');
        }

        function CreateClear() {
            $('#ClientFirstName').val(null);
            $('#ClientSecondName').val(null);
            $('#ClientDate').val(null);
            $('#ClientSerial').val(null);
            document.getElementById("Male").className = "btn btn-outline-success";
            document.getElementById("Female").className = "btn btn-outline-success";
            sex = -1;
        }

        function CreateHide() {
            document.getElementById('validate_createFirstName').hidden = true;
            document.getElementById('validate_createSecondName').hidden = true;
            document.getElementById('validate_createDate').hidden = true;
            document.getElementById('validate_createSex').hidden = true;
            document.getElementById('validate_createSerial').hidden = true;
        }

        function GetPage() {
            var name = $('#f1').val();
            $('#clients').load("../Client/LoadPage?page=" + name);
        }

        function ValidateCreate() {
            CreateHide();
            var firstName = $('#ClientFirstName').val();
            var secondName = $('#ClientSecondName').val();
            var dateOfBorn = $('#ClientDate').val();
            var clientSerial = $('#ClientSerial').val();
            var flag1 = true;
            var flag2 = true;
            var flag3 = true;
            var flag4 = true;
            var flag5 = true;
            if (firstName.replace(/\s*/g, '') == "") {
                flag1 = false;
                document.getElementById('validate_createFirstName').hidden = false;
            }
            if (secondName.replace(/\s*/g, '') == "") {
                flag2 = false;
                document.getElementById('validate_createSecondName').hidden = false;
            }
            if (dateOfBorn.replace(/\s*/g, '') == "") {
                flag3 = false;
                document.getElementById('validate_createDate').hidden = false;
            }
            if (sex != 0 && sex != 1) {
                flag4 = false;
                document.getElementById('validate_createSex').hidden = false;
            }
            if (clientSerial.replace(/\s*/g, '').length != 10 || (!/^[0-9]+$/.test(clientSerial))) {
                flag5 = false;
                document.getElementById('validate_createSerial').hidden = false;
            }
            if (flag1 && flag2 && flag3 && flag4 && flag5) {
                var answer = $.getJSON("../Client/ValidateSerial?=1234567891");
                alert(answer);
                Create();
                $('#CreateModal').modal('hide');
            }
        }

        function Create() {
            var firstName = $('#ClientFirstName').val();
            var secondName = $('#ClientSecondName').val();
            var dateOfBorn = $('#ClientDate').val();
            var clientSerial = $('#ClientSerial').val();
            var clientIP = "../Client/CreateClient?firstName=" + firstName + "&secondName=" + secondName + "&serial=" + clientSerial + "&sex=" + sex + "&dateOfBorn=" + dateOfBorn;
            clientIP = clientIP.replace(/\s*/g, '');
            $('#clients').load(clientIP);
        }

    </script>
</body>
