@model IEnumerable<HotelReservation.Models.Client>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (HotelReservation.Models.Client c in Model)
        {
            <p>@c.Sex</p>
        }
    </div>
</body>
</html>
