@using HotelReservation.Models;
@{
    ViewData["Title"] = "Сервисы";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Документация по сервисам</h5>
            </div>
            <div class="row">
                <p>
                    В приложении можно добавлять услуги к брони. К каждой услуге приписывается
                    своя стоимость. Также услуги можно создавать, редактировать и удалять.
                </p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-8">
        <div class="jumbotron">
                <div id="services">
                </div>
            <div class="modal fade" id="EditModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center">
                                <h5><strong>Редактировать услугу &#9999;</strong></h5>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <strong>Название услуги</strong>
                            @Html.TextBox("serviceName", "", new { @class = "form-control", id = "EditModal_serviceName" })
                            <span class="badge badge-danger" id="validate_editName">Данное поле не может быть пустым</span>
                            <strong>Стоимость услуги</strong>
                            @Html.TextBox("serviceCost", "", new { @class = "form-control", id = "EditModal_serviceCost" })
                            <span class="badge badge-danger" id="validate_editCost">Введите целое значение больше 0</span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" id="edit" onclick="ValidateEdit()">Изменить</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="DeleteModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center">
                                <h5><strong>Удалить услугу &#128465;</strong></h5>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <strong>Удалить услугу?</strong>
                            <div>
                                <br />
                                <input id="nameOfService" class="text-center" style="width: 75%" readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal" id="edit" onclick="Delete()">Удалить</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="CreateModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center">
                                <h5><strong>Создать услугу &#9989;</strong></h5>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <strong>Название услуги</strong>
                            @Html.TextBox("serviceName", "", new { @class = "form-control", id = "CreateModal_serviceName" })
                            <span class="badge badge-danger" id="validate_createName">Данное поле не может быть пустым</span>
                            <strong>Стоимость услуги</strong>
                            @Html.TextBox("serviceCost", "", new { @class = "form-control", id = "CreateModal_serviceCost" })
                            <span class="badge badge-danger" id="validate_createCost">Введите целое значение больше 0</span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success"  id="edit" onclick="ValidateCreate()">Создать</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <div class="row">
                    <p>
                        Механизм поиска ищет подстроку в строке названия.
                    </p>
                </div>
            </div>
            <div class="jumbotron" style="background-color: #F0E68C">
                <div class="text-center">
                    <H5>Поиск по названию</H5>
                    <br />
                    <div class="text-center">
                        <input type="text" class="form-control" id="searchName" placeholder="Введите название">
                        <span class="badge badge-danger" id="validate_search">Название не может быть пустым</span>
                    </div>
                    <br/>
                    <button class="btn btn-primary" onclick="ValidateSearch()">Найти &#128270;</button>
                    <button class="btn btn-danger" onclick="GetStartView()">Сбросить &#128259;</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript">
                $.noConflict();

                window.onload = GetStartView();

                function GetStartView() {
                    document.getElementById('validate_search').hidden = true;
                    $("#searchName").val(null);
                    $('#services').load("../Service/LoadPage?page=1");
                }

                function GetPage() {
                    var name = $('#f1').val();
                    $('#services').load("../Service/LoadPage?page=" + name);
                }

                var key;
                var page_key;
                var modal_mode;
                function DeleteModal(serviceId, currentPage) {
                    var dataStr = $("#" + serviceId).val();
                    var dataArray = dataStr.split("|");
                    var serviceId = dataArray[0];
                    var serviceName = dataArray[1];
                    page_key = currentPage;
                    key = serviceId;
                    $("#nameOfService").val(serviceName);
                    $('#DeleteModal').modal('show');
                }
                function ShowModal(serviceId) {
                    var dataStr = $("#" + serviceId).val();
                    var dataArray = dataStr.split("|");
                    var serviceId = dataArray[0];
                    var serviceName = dataArray[1];
                    var serviceCost = dataArray[2];
                    var currentPage = dataArray[3];
                    key = serviceId;
                    page_key = currentPage;
                    $("#EditModal_serviceName").val(serviceName);
                    $("#EditModal_serviceCost").val(serviceCost);
                    document.getElementById('validate_editCost').hidden = true;
                    document.getElementById('validate_editName').hidden = true;
                    $('#EditModal').modal('show');
                }
                function CreateModal() {
                    document.getElementById('validate_createCost').hidden = true;
                    document.getElementById('validate_createName').hidden = true;
                    $('#CreateModal').modal('show');
                }
                function Create() {
                    var serviceName = $("#CreateModal_serviceName").val();
                    var serviceCost = $("#CreateModal_serviceCost").val();
                    var serviceIP = "../Service/CreateService?name=" + serviceName + "&cost=" + serviceCost;
                    serviceIP = serviceIP.replace(/\s*/g, '');
                    $('#services').load(serviceIP);
                }
                function Update() {
                    var serviceID = key;
                    var serviceName = $("#EditModal_serviceName").val();
                    var serviceCost = $("#EditModal_serviceCost").val();
                    serviceCost = serviceCost.replace(/\s*/g, '');
                    var serviceIP = "../Service/EditService?id=" + serviceID + "&name=" + serviceName + "&cost=" + serviceCost + "&page=" + page_key;
                    serviceIP = serviceIP.replace(/\s*/g, '');
                    $('#services').load(serviceIP);
                }

                function ValidateCreate() {
                    var serviceCost = $("#CreateModal_serviceCost").val();
                    var serviceName = $("#CreateModal_serviceName").val();
                    var flag1 = true;
                    var flag2 = true;
                    serviceCost = serviceCost.replace(/\s*/g, '');
                    if ((!/^[0-9]+$/.test(serviceCost)) || (serviceCost == 0)) {
                        document.getElementById('validate_createCost').hidden = false;
                        flag1 = false;
                    }
                    if (serviceName.replace(/\s*/g, '') == "") {
                        document.getElementById('validate_createName').hidden = false;
                        flag2 = false
                    }
                    if (flag1 && flag2) {
                        Create();
                        $('#CreateModal').modal('hide');
                    }
                }

                function ValidateEdit() {
                    var serviceCost = $("#EditModal_serviceCost").val();
                    var serviceName = $("#EditModal_serviceName").val();
                    var flag1 = true;
                    var flag2 = true;
                    serviceCost = serviceCost.replace(/\s*/g, '');
                    if ((!/^[0-9]+$/.test(serviceCost)) || (serviceCost == 0)) {
                        document.getElementById('validate_editCost').hidden = false;
                        flag1 = false;
                    }
                    if (serviceName.replace(/\s*/g, '') == "") {
                        document.getElementById('validate_editName').hidden = false;
                        flag2 = false
                    }
                    if (flag1 && flag2) {
                        Update();
                        $('#EditModal').modal('hide');
                    }
                }

                function ValidateSearch() {
                    var searchName = $("#searchName").val();
                    if (searchName.replace(/\s*/g, '') == "") {
                        document.getElementById('validate_search').hidden = false;
                    } else {
                        document.getElementById('validate_search').hidden = true;
                        Search();
                    }
                }

                function Delete() {
                    var serviceID = key;
                    var serviceIP = "../Service/DeleteService?id=" + serviceID + "&page=" + page_key;
                    serviceIP = serviceIP.replace(/\s*/g, '');
                    $('#services').load(serviceIP);
                }
                function Search() {
                    var searchName = $("#searchName").val();
                    var serviceIP = "../Service/SearchPage?name=" + searchName;
                    $('#services').load(serviceIP);
                }
        </script>
    }
</body>
