@using HotelReservation.Models;
@{
    Layout = null;
}
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>                        
                @if (((List<Room>)ViewData["rooms"]).Count == 0)
                {
                    <strong>Нет</strong>
                }
                else
                {
                    foreach (Room item in (List<Room>)ViewData["rooms"])
                    {
                        <button class="list-group-item list-group-item-success list-group-item-action d-flex justify-content-between align-items-center">
                            <strong>@item.RoomId</strong>
                        </button>
                    }
                }
</body>
