@{
    ViewData["Title"] = "Брони";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Брони</h5>
            </div>
            <div class="row">
                <p>
                    Брони можно создать или отменить. Расчет стоимости брони осуществляется в 
                    соответствии с правилами отеля, учитывая скидки по дням и периодам, а также стоимость услуг.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="jumbotron" style="background-color: #EA735A">
                                <br />
                                <div class="text-center">
                                    <strong>Текущая дата - @DateTime.Today.ToString("dd.MM.yyyy") &#128197;</strong>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="jumbotron" style="background-color: #5AEAA8">
                                <br />
                                <div class="text-center">
                                    <button class="btn btn-success btn-lg">Забронировать номер &#128682;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="btn-group btn-block btn-group-lg justify-content-center">

                            <button type="button" id="ready" class="btn btn-outline-info navbar-btn" onclick="ReadyReservation()">В ожидании</button>
                            <button type="button" id="active" class="btn btn-outline-success navbar-btn active" onclick="ActiveReservation()">Активные</button>
                            <button type="button" id="cancel" class="btn btn-outline-danger navbar-btn" onclick="CancelReservation()">Неактивные</button>

                        </div>
                    </div>
                    <br />
                    <div id="reservations">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="jumbotron" style="background-color: #F0E68C">
                    <div class="text-center">
                        <h5>Поиск</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = GetStartView(0);
        var mode;

        function GetStartView(mode) {
            var ReservationIP = "../Reservation/LoadPage?page=1&mode=" + mode;
            $('#reservations').load(ReservationIP);
        }
        function ActiveReservation() {
            document.getElementById('active').className = "btn btn-outline-success navbar-btn active";
            document.getElementById('cancel').className = "btn btn-outline-danger navbar-btn";
            document.getElementById('ready').className = "btn btn-outline-info navbar-btn";
            mode = 0;
            GetStartView(mode);
        }
        function CancelReservation() {
            document.getElementById('active').className = "btn btn-outline-success navbar-btn";
            document.getElementById('cancel').className = "btn btn-outline-danger navbar-btn active";
            document.getElementById('ready').className = "btn btn-outline-info navbar-btn";
            mode = 2;
            GetStartView(mode);
        }
        function ReadyReservation() {
            document.getElementById('active').className = "btn btn-outline-success navbar-btn";
            document.getElementById('cancel').className = "btn btn-outline-danger navbar-btn";
            document.getElementById('ready').className = "btn btn-outline-info navbar-btn active";
            mode = 1;
            GetStartView(mode);
        }
        function LoadPage() {
            var page = $('#f1').val();
            $('#reservations').load("../Reservation/LoadPage?page=" + name + "&mode=" + mode);
        }
    </script>
</body>
