@{
    ViewData["Title"] = "Брони";
}

<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Брони</h5>
            </div>
            <div class="row">
                <p>
                    Брони можно создать или отменить. Расчет стоимости брони осуществляется в 
                    соответствии с правилами отеля, учитывая скидки по дням и периодам, а также стоимость услуг.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="jumbotron">
                    <div class="text-center">
                        <div class="btn-group btn-block btn-group-lg justify-content-center">

                            <button type="button" class="btn btn-outline-info navbar-btn" onclick="">В ожидании</button>
                            <button type="button" class="btn btn-outline-success navbar-btn active" onclick="">Активные</button>
                            <button type="button" class="btn btn-outline-danger navbar-btn" onclick="">Отмененные</button>

                        </div>
                    </div>
                    <div id="reservations">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="jumbotron" style="background-color: #F0E68C">
                    <div class="text-center">
                        <h5>Поиск</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
