@{
    ViewData["Title"] = "Номера";
}

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h4>Как использовать скидки</h4>
            </div>

        </div>
        <div class="jumbotron">

        </div>
    </div>
</body>
