@{
    ViewData["Title"] = "Скидки";
}

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h4>Как использовать скидки</h4>
            </div>

        </div>


    </div>
</body>
